  <div class="container">
    <div class="header-page">
      <h1 class="title">Edição de endereço para o cliente {$customer.name}</h1>
      <div class="controls">
        <a href="/customers/{$customer.id}" class="button-link">
          <i class="material-icons">keyboard_backspace</i>
          <span>Voltar</span>
        </a>

        <button class="button-save" type="submit" form="form">
          <i class="material-icons">save</i>
          <span>Salvar</span> 
        </button>     
      </div>
    </div>

    <div class="panel">
      <form action="/customers/{$customer.id}/addresses/{$address.id}" method="post" id="form">
        <div class="row">
          <div class="column">
            <div class="form-group">
              <label for="address">Endereço</label>
              <input type="text" class="form-control" id="address" name="address" placeholder="Digite o Endereço" value="{$address.address}">
            </div>
          </div>
          <div class="column">
            <div class="form-group">
              <label for="complement">Complemento</label>
              <input type="text" class="form-control" id="complement" name="complement" placeholder="Digite o Complemento" value="{$address.complement}">
            </div>
          </div>
          <div class="column">
            <div class="form-group">
              <label for="city">Cidade</label>
              <input type="text" class="form-control" id="city" name="city" placeholder="Digite a cidade" value="{$address.city}">
            </div>
          </div>
          <div class="column">
            <div class="form-group">
              <label for="state">Estado</label>
              <input type="text" class="form-control" id="state" name="state" placeholder="Digite o Estado" value="{$address.state}">
            </div>
          </div>
          <div class="column">
            <div class="form-group">
              <label for="country">País</label>
              <input type="text" class="form-control" id="country" name="country" placeholder="Digite o país" value="{$address.country}">
             </div>
          </div>
          <div class="column">
            <div class="form-group">
              <label for="zip_code">CEP</label>
              <input type="text" class="form-control cep" id="zip_code" name="zip_code" placeholder="Digite o CEP" value="{$address.zip_code}">               
            </div>
          </div>
      </form>
    </div>
  </div>






