  <div class="container">

    <div class="header-page">
      <h1 class="title">Gerenciando Clientes</h1>
      <div class="controls">
        <a href="/customers/create" class="button-link">
          <i class="material-icons">add</i>
          <span>Cadastrar</span>
        </a>

        <form action="/customers" class="form-search" id="formSearch">
          <i class="material-icons">search</i>
          <input class="search" type="text" placeholder="Buscar cliente <enter>" value="{$search}" id="inputSearch" name="search">  
        </form>               

      </div>
    </div>

    <div class="panel">
      <table>
        <thead>
          <tr>
            <th>#</th>
            <th>Nome</th>
            <th>Data de Nascimento</th>
            <th>CPF</th>
            <th>RG</th>
            <th>Celular</th>
            <th class="column-actions-header">&nbsp;</th>
          </tr>
        </thead>
        <tbody>
          {loop="$customers"}
          <tr>
            <td>{$value.id}</td>
            <td>{$value.name}</td>
            <td>{function="formatDate($value.date_birth)"}</td>
            <td>{$value.cpf}</td>
            <td>{$value.rg}</td>
            <td>{$value.phone}</td>
            <td class="column-actions">
              <a href="/customers/{$value.id}" class="edit">Editar</a>
              <a href="/customers/{$value.id}/delete" class="delete" onclick="return confirm('Deseja realmente excluir este registro?')">Excluir</a>
            </td>
          </tr>
          {/loop}
        </tbody>
      </table>
    </div>

    <ul class="paginator">
      {loop="$pages"}
      <a href="{$value.href}"><li class="pageitem{if="$pagenumber === $value.text"} active{/if}">{$value.text}</li></a>
      {/loop}
    </ul>

  </div>
